@model IEnumerable<Emplyee_mvc.DataAccess.Models.Employee>

<div class="m-2">
    <form asp-action="Index" method="get" class="row offset-2">
        <div class="col-8">
            <input class="form-control" type="text" name="employeeSearchName" placeholder="Search Employee By Name" />
        </div>
        <div class="col-4">
            <input type="submit" class="btn btn-outline-success" value="Search" />
        </div>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Department</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Title</td>
                <td>@employee.Department?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-success">Edit</a>
                    <a asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div aria-live="polite" aria-atomic="true" class="toast-container position-fixed p-3" style="bottom:25px; right:25px; z-index:100;">
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto text-success">Success!!</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @TempData["Message"]
        </div>
    </div>
</div>

