@model Emplyee_mvc.DataAccess.Models.Employee

<h1 class="my-4">Employee Details</h1>

<ul class="nav nav-tabs" id="employeeTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#general" role="tab">General</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#admin" role="tab">Administration</a>
    </li>
</ul>

<div class="tab-content border p-3">
    <div class="tab-pane fade show active" id="general" role="tabpanel">
        <p><strong>Name:</strong> @Model.Name</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Salary:</strong> @Model.Salary</p>
        <p><strong>Hiring Date:</strong> @Model.HiringDate.ToShortDateString()</p>
        <p><strong>Gender:</strong> @Model.Gender</p>
        <p><strong>Employee Type:</strong> @Model.EmployeeType</p>
    </div>
    <div class="tab-pane fade" id="admin" role="tabpanel">
        <p><strong>Created By:</strong> @Model.CreatedBy</p>
        <p><strong>Date Of Creation:</strong> @Model.DateOfCreation</p>
        <p><strong>Last Modified By:</strong> @Model.LastModifiedBy</p>
        <p><strong>Last Modified On:</strong> @Model.LastModifiedOn</p>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
